// Color Panel
$primary-color: hsl(13, 86%, 23%);
$secondary-color: #8ccbcb;
$background-color: #ebe6ea;
$black: #242441;
$white: white;
$yellow: #f7e007;
$brown:#f4dcc7;
$gray: #595d6d;
$blue: #7052ff;
$red:#ff7360;

