.searchBar {
  background-color: white;
  position: relative;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 14px;

  @include md {
    margin-top: 5px;
  }



  input {
    padding-left: 10px;
    border: none;
    background-color: inherit;

    &:focus {
      outline: none;
    }


  }

  .searchbutton {
    cursor: pointer;
    position: absolute;
    border: none;
    background-color: inherit;
    right: 0;

  }

  .icono {
    width: 26px;
    padding: 0px 8px 0px 0px;

  }
   

}