.content {
  width:max-content;
    
    margin-top: -3px;
    height: 60rem;
   
  
    z-index: 0;

   

   
    



 
  
   
}


.img {
  height: fit-content;
  width: fit-content;
  object-fit: cover;
  //transform: rotateZ(-4deg) translateY(-4rem) translateX(-1rem);

}

