 
      .linknav {
        text-decoration:none;
         color: inherit;
       
         
        
         
         

      
        
      }

      .itemnav {
        &:hover {
          color: $white;
        }

         
      }