.cardsContainer {
 
  display: flex;
  
  justify-content: space-around;
  height: auto;
  margin: -20px;
  margin-inline-end: 10px;
  margin-inline-start: 10px;

  min-height: 50vh;
  flex-wrap: wrap;
  place-content: center;
  gap: 10px;
   
  
  }
  